<h2>コメント</h2>

<%= form_for @comment, url: topic_comments_path do |f| %>
  <%= f.text_area :body %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :topic_id, value: params[:topic_id]%>

  <% if logged_in? %>
    <%= f.submit '投稿' %>

  <% end %>
<% end %>
